@model IEnumerable<Manufacture>
<h3 class="p-2 bg-primary text-white text-center">Manufactures</h3>
<div class="container-fluid mt-3">
  <div class="row">
    <div class="col-1 font-weight-bold">Id</div>
    <div class="col font-weight-bold">Name</div>
    <div class="col-3"></div>
  </div>
  <!-- 
      GIVEN: I AM A USER
      WHEN: I CLICK ON MANUFACTURES LINK
      THEN: SHOW MANUFACTURE EDITOR IF NOT EDITING A MANUFACTURE-->
  @if (ViewBag.EditId == null)
  {
    <form asp-action="AddManufacture" method="post">
      @Html.Partial("ManufactureEditor", new Manufacture())
    </form>
  }
  @foreach (Manufacture m in Model)
  {
    <!-- SHOW THE MANUFACTURE EDITOR IF EDITING A MANUFACTURE
         HAPPENS WHEN CLICK 'EDIT' ON MANUFACTURE FROM DEFAULT VIEW-->
    @if (m.Id == ViewBag.EditId)
    {
      <form asp-action="UpdateManufacture" method="post">
        <input type="hidden" name="Id" value="@m.Id" />
        @Html.Partial("ManufactureEditor", m)
      </form>
    }
    else
    {
      <div class="row p-2">
        <div class="col-1">@m.Id</div>
        <div class="col">@m.name</div>
        <div class="col-3">
          <form asp-action="DeleteManufacture" method="post">
            <input type="hidden" name="Id" value="@m.Id" />
            <a asp-action="EditManufacture" asp-route-id="@m.Id"
               class="btn btn-outline-primary">Edit</a>
            <button type="submit" class="btn btn-outline-danger">
              Delete
            </button>
          </form>
        </div>
      </div>
    }
  }
</div>
