@model IEnumerable<Product>
@{
  ViewBag.searches = new string[] { "Name", "Category.name" };
  ViewBag.sorts = new string[] { "Name", "Category.name", "Price"};
}
@Html.Partial("PageOptions", Model)
<div class="container-fluid mt-3">
  <div class="row">
    <div class="col-1 font-weight-bold">Id</div>
    <div class="col font-weight-bold">Name</div>
    <div class="col font-weight-bold">Manufacture</div>
    <div class="col font-weight-bold">Category</div>
    <div class="col font-weight-bold">Price</div>
    <div class="col"></div>
  </div>
  @foreach (Product p in Model)
  {
  <div class="row p-2">
    <div class="col-1">@p.Id</div>
    <div class="col">@p.name</div>
    <div class="col">@p.Manufacture.name</div>
    <div class="col">@p.Category.name</div>
    <div class="col">@p.price</div>
    <div class="col">
      <form asp-action="DeleteProduct" method="post">
        <a asp-action="UpdateProduct" asp-route-key="@p.Id"
           class="btn btn-outline-primary">
          Edit
        </a>
        <input type="hidden" name="Id" value="@p.Id" />
        <button type="submit" class="btn btn-outline-danger">
          Delete
        </button>
      </form>
    </div>
  </div>
  }
  <div class="text-center p-2">
    <a asp-action="UpdateProduct" asp-route-key="0"
       class="btn btn-primary">Add</a>
  </div>
  <div class="text-center">
    @Html.Partial("Pages", Model)
  </div>
</div>