<!DOCTYPE html>

<html>
<head>
  <meta name="viewport" content="width=device-width" />
  <title>Compare</title>
  <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
  <style>
  </style>
</head>
<body>
  <div class="container-fluid">
    <div class="row p-2">
      <div class="col-2">
        <a asp-controller="Home" asp-action="Index" class="@GetClassForButton("Home")">Products</a>
        <a asp-controller="Manufacture" asp-action="Index" class="@GetClassForButton("Manufacture")">Manufactures</a>
        <a asp-controller="Category" asp-action="Index" class="@GetClassForButton("Category")">Categories</a>
        <a asp-controller="User" asp-action="Index" class="@GetClassForButton("User")">Users</a>
        <a asp-controller="Criteria" asp-action="Index" class="@GetClassForButton("Criteria")">Criterias</a>
        <a asp-controller="Review" asp-action="Index" class="@GetClassForButton("Review")">Reviews</a>
        <a asp-controller="Spec" asp-action="Index" class="@GetClassForButton("Spec")">Specs</a>
        <a asp-controller="ProductSpec" asp-action="Index" class="@GetClassForButton("ProductSpec")">Product Specs</a>
        <a asp-controller="Seed" asp-action="Index" class="@GetClassForButton("Seed")">Seed</a>
        <a asp-controller="Tag" asp-action="Index" class="@GetClassForButton("Tag")">Tags</a>
        <a asp-controller="ProductTag" asp-action="Index" class="@GetClassForButton("ProductTag")">Product Tags</a>
      </div>
      <div class="col">
        @RenderBody()
      </div>
    </div>
  </div>
</body>
</html>

@functions {
string GetClassForButton(string controller)
{
  return "btn btn-block " + (ViewContext.RouteData.Values["controller"]
      as string == controller ? "btn-primary" : "btn-outline-primary");
}
}