@model IEnumerable<Product>
<h3 class="p-2 bg-primary text-white text-center">Seed Data</h3>
<form method="post">
  <div class="text-center">
    <button type="submit" asp-action="CreateProductionData"
            class="btn btn-outline-primary">
      Production Seed
    </button>
    <button asp-action="ClearData" class="btn btn-danger">
      Clear Database
    </button>
  </div>
</form>
<h5 class="text-center m-2">
  There are @ViewBag.Count products in the database
</h5>
<div class="container-fluid">
  <div class="row">
    <div class="col-1 font-weight-bold">Id</div>
    <div class="col font-weight-bold">Name</div>
    <div class="col font-weight-bold">Category</div>
    <div class="col font-weight-bold">Manufacture</div>
  </div>
  @foreach (Product p in Model)
  {
    <div class="row">
      <div class="col-1">@p.Id</div>
      <div class="col">@p.name</div>
      <div class="col">@p.Category.name</div>
      <div class="col">@p.Manufacture.name</div>
    </div>
  }
</div>