@model Review
<!--1:  GIVEN : I AM A USER
        WHEN : I ADD A PRODUCT OR UPDATE A PRODUCT
        THEN : SHOW THIS UPDATE PRODUCT VIEW-->
<!--2:  GIVEN : I AM A USER
        WHEN : I DO NOT SPECIFY A PRODUCT
        THEN: DISPLAY CHOOSE MANUFACTURE AS DEFAULT OPTION SELECT-->
<!--3:  GIVEN : I AM A USER
        WHEN : I DO SPECIFY A PRODUCT
        THEN: DISPLAY MODEL MANUFACTURE AS DEFAULT OPTION SELECT-->
<!--1-->
<h3 class="p-2 bg-primary text-white text-center">Update Review</h3>
<form asp-action="UpdateReview" method="post">
  <div class="form-group">
    <label asp-for="Id"></label>
    <input asp-for="Id" class="form-control" readonly />
  </div>
  <div class="form-group">
    <label asp-for="User"></label>
    <select class="form-control" asp-for="UserId">
      <!--2-->
      @if (Model.Id == 0)
      {
        <option disabled selected>Choose User</option>
      }
      <!--3-->
      @foreach (User u in ViewBag.Users)
      {
        <option selected=@(Model.User?.Id == u.Id) value="@u.Id">@u.name</option>
      }
    </select>
  </div>

  <div class="form-group">
    <label asp-for="Product"></label>
    <select class="form-control" asp-for="ProductId">
      @if (Model.Id == 0)
      {
        <option disabled selected>Product To Review...</option>
      }
      @foreach (Product p in ViewBag.Products)
      {
        <option selected=@(Model.Product?.Id == p.Id) value="@p.Id">@p.name</option>
      }
    </select>
  </div>
  <div class="form-group">
    <label asp-for="Criteria"></label>
    <select class="form-control" asp-for="CriteriaId">
      @if (Model.Id == 0)
      {
        <option disabled selected>Criteria Being Reviewed...</option>
      }
      @foreach (Criteria c in ViewBag.Criterias)
      {
        <option selected=@(Model.Criteria?.Id == c.Id) value="@c.Id">@c.name</option>
      }
    </select>
  </div>
  <div class="form-group">
    <label asp-for="score"></label>
    <input asp-for="score" class="form-control" />
  </div>
  <div class="form-group">
    <label asp-for="reviewText"></label>
    <input asp-for="reviewText" class="form-control" />
  </div>
  <div class="text-center">
    <button class="btn btn-primary" type="submit">Save</button>
    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
  </div>
</form>
